streamlit==1.45.1
numpy==1.26.4
pandas==2.2.1      # Downgrade to avoid source build issue
matplotlib==3.7.5  # Use prebuilt-compatible version
scikit-learn==1.3.2
xgboost==2.0.3     # Safer than 3.x for now
joblib==1.3.2
